.page-kich-hoat-bao-hanh {
  section.form {
    padding-top: 120px;
    padding-bottom: 120px;
    background: url("../../images/bg5.png");
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;

    .wrap {
      @include mobile {
        width: 95vw;
      }
      width: 686px;
      color: #666;
    }

    .product {
      @include mobile {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
      }
      width: 1170px;
    }

    .product-content {
      img {
        width: 100%;
      }
    }
  }
}
